body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
}

.todo-table {
  border-spacing: 20px 10px;
}

.todo-table__head {
  font-size: 20px;
  font-weight: bold;
  background-color: aqua;

  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.button-load {
  height: 50px;
  width: 150px;
  margin-top: calc(50vh - 50px / 2);

  font-size: 30px;
  color: blueviolet;
  border-color: blueviolet;

  box-shadow: 3px 3px 5px 0px rgba(77,77,77,1);
}

.button-sort {
  height: 25px;
  width: 45px;

  font-size: 17px;

  background-color: rgb(230, 230, 230);
}